@model DataLayer.Models.Book

@{
    Layout = "_Layout";
    ViewData["Title"] = "Create";
}
    

<h1 class="logo-right hidden-xs margin-bottom-60">Books</h1>
<div class="tm-right-inner-container">
    <h1 class="templatemo-header"> </h1>
    


    <div class="tm-right-inner-container">

        <h2 class="templatemo-header" style="color :#17A2B8"> Books Creation  </h2>
                <div class="card-body">
                    <form asp-action="Create" enctype="multipart/form-data">
                        <div asp-validation-summary="ModelOnly" class="alert alert-danger"></div>
                        <div class="form-group">
                            <div class="col-md-3">
                      
                            <div class="form-group">
                            <input asp-for="IsDeleted" hidden class="form-control" value="false" />

                                <input asp-for="ShelfId" class="form-control" asp-items="ViewBag.ShelfId" value="@ViewData["ShelfId"]" hidden>

                            </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-6">
                        <label asp-for="Name" class="control-label font-weight-bold"></label>
                            <input asp-for="Name" class="form-control" />
                            <span asp-validation-for="Name" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-6">
                        <label asp-for="Price" class="control-label font-weight-bold"></label>
                            <input asp-for="Price" class="form-control" />
                            <span asp-validation-for="Price" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-6">
                        <label asp-for="Aurther" class="control-label font-weight-bold"></label>
                            <input asp-for="Aurther" class="form-control" />
                            <span asp-validation-for="Aurther" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-6">
                                <label asp-for="Quantity" class="control-label font-weight-bold"></label>
                            <input asp-for="Quantity" class="form-control" />
                            <span asp-validation-for="Quantity" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-6">
                        <label asp-for="PDFFile" class="control-label font-weight-bold"> PDF File ONLY</label>
                            <input type="file" asp-for="PDFFile" class="form-control-file" accept=".pdf" />
                            <span asp-validation-for="PDFFile" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group text-center">
                    <div class="col-md-6">
                        <input type="submit" value="Create" class="btn btn-info font-weight-bold" />
                    </div>
                </div>
                    </form>
                </div>
            </div>
       
    @section Scripts {
        @{
            await Html.RenderPartialAsync("_ValidationScriptsPartial");
        }
    }
