@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer local
@inject Microsoft.Extensions.Options.IOptions<Microsoft.AspNetCore.Builder.RequestLocalizationOptions> locOptions
@{
    var cul = Context.Features.Get<Microsoft.AspNetCore.Localization.IRequestCultureFeature>();
    var returnurl = string.IsNullOrWhiteSpace(Context.Request.Path) ? "~/" : $"~{Context.Request.Path.Value}{Context.Request.QueryString}";
    var cultureList = locOptions.Value.SupportedCultures.Select(x => new SelectListItem { Value = x.Name, Text = x.Name }).ToList();
}
<div>
    <form asp-action="CultureMangement" asp-controller="Home" method="post"  asp-route-returnurl="@returnurl" >
        <select name="culture" asp-for="@cul.RequestCulture.UICulture.Name" asp-items="@cultureList" onchange="this.form.submit();"></select>
    </form>
</div>